.carousel-container {
  position: relative;
  width: 80%;
  height: 68%;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.31);
  margin: 0 auto;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* Movimiento del carrusel */
.carousel {
  transform: translateX(0);
}

.carousel.move {
  transform: translateX(calc(-100% * var(--index)));
}

.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  left: 10px;
  z-index: 999;
}

.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  right: 10px;
  z-index: 9999;
}

.prev:hover {
  background: rgba(0, 0, 0, 0.8);
}

.next:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 1200px) {
  .carousel-container {
    width: 85%;
  }
}

@media screen and (max-width: 992px) {
  .carousel-container {
    width: 90%;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-container {
    width: 95%;
    height: 350px;
  }

  .prev,
  .next {
    font-size: 20px;
    padding: 8px;
  }
}

@media screen and (max-width: 576px) {
  .carousel-container {
    width: 100%;
    height: 300px;
  }

  .prev,
  .next {
    font-size: 18px;
    padding: 6px;
  }
}

@media screen and (max-width: 375px) {
  .carousel-container {
    height: 250px;
  }

  .prev,
  .next {
    font-size: 16px;
    padding: 5px;
  }
}
